<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @shop.product_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shop.price %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
