<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :description%>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :project_user_id, class: 'form-control', value: current_user.id %>
  </div>

  <div>
   <%= form.fields_for :tasks do |task|%>
      <%= render 'task_fields', f: task%> 
      <%end%>
  </div>

  <div class="link">
      <%= link_to_add_association 'add item', form, :tasks %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
