<div class="nested-fields">
	<div class="field">
		
    <%= f.label :item_name%>
    <%= f.text_field :description%>
	</div>
	<div class="field">
    <%= f.label :price %>
    <%= f.text_field :done %>
	</div>
  <%= link_to_remove_association "remove item", f %>
</div>