<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
   <%= form.fields_for :names do |name|%>
      <%= render 'name_fields', f: name%> 
      <%end%>
  </div>

  <div class="link">
      <%= link_to_add_association 'add name', form, :names %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
